{% set wwas = post.meta('who_we_are_sidebar') %}

<div class="emergency-service-sidebar sidebar">
    <i class="fa fa-house-chimney"></i>
    <p class="font-bold">{{ wwas.emergency_service.sub_head }}</p>
    <h4>{{ wwas.emergency_service.header }}</h4>
    <div class="border-bottom"></div>
    <a href="tel:{{phone_number}}">Call {{ phone_number }}</a>
</div>

<div class="risk-free-sidebar sidebar">
    {% for item in wwas.risk_free_sidebar %}
        <div class="sidebar-item item-{{ loop.index }} flex-space-between 
        {% if loop.index != loop.length %}
            border-bottom 
        {% endif %}">
            <div class="item-text">
                <h4>{{ item.header }}</h4>
                <p>{{ item.sub_head }}</p>
            </div>
            <span><i class="fa fa-check"></i></span>
        </div>
    {% endfor %}
</div>

<div class="coverage-sidebar sidebar flex-space-between">
    {% for image in wwas.coverage %}
        {% set img = Image(image) %}
        <img class="lazyload" src="{{ img | towebp }}" alt="{{ img.alt }}" width="76px" height="24px">
    {% endfor %}
</div>