{% if facebook %}
    <a href="{{facebook}}" target="_blank">
        <i class="fa-brands fa-facebook-f"></i>
    </a>
{% endif %}

{% if twitter %}
    <a href="{{twitter}}" target="_blank">
        <i class="fa-brands fa-twitter"></i>
    </a>
{% endif %}

{% if linkedin %}
    <a href="{{linkedin}}" target="_blank">
        <i class="fa-brands fa-linkedin-in"></i></i>
    </a>
{% endif %}

{% if instagram %}
    <a href="{{instagram}}" target="_blank">
        <i class="fa-brands fa-instagram"></i>
    </a>
{% endif %}

{% if yelp %}
    <a href="{{yelp}}" target="_blank">
        <i class="fa-brands fa-yelp"></i>
    </a>
{% endif %}